*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GAME-BOARD-CONTAINER id*/
#game-board-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*HEADER tag*/
header {
    margin-top: 50px;
}

header h1 {
    font-family: fantasy;
    font-size: 1.5em;
}

/*GAME-BOARD id*/
#game-board {
    background-color: #91A637;
    flex-basis: 5px;
    width: 85%;
    margin: auto;
    border: 5px solid brown;
}

/*COMPUTERS-DECK-SECTION id & USERS-DECK-SECTION id*/
#computers-deck-section, #users-deck-section {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

/*SECTION tag*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*MAIN-SECTION id*/
#main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 15%;
    gap: 10px;
}

/*DISCARD-PILE id*/
#discardPile {
    cursor: pointer;
}

/*BTNS id*/
#btns {
    display: flex;
    gap: 60px
}

/*SELECTIONS id*/
#selections {
    display: flex;
    gap: 10px;
    position: relative;
    left: 10%;
}

/*BUTTON RELATED*/
#pass-btn {
    position: absolute;
    right: 35%;
    border: 2px solid whitesmoke;
    padding: 5px;
    cursor: pointer;
}

#pass-btn:hover,
#suit-btn:hover,
#number-btn:hover {
    color: yellow;
}

#sorting-btns {
    display: flex;
    gap: 10px;
    position: relative;
    left: 10%;
}

#suit-btn,
#number-btn,
#discard-btn,
#knock-btn,
#gin-btn {
    border: 2px solid whitesmoke;
    padding: 5px;
    cursor: pointer;
}

#suit-btn.clicked,
#number-btn.clicked {
    color: goldenrod;
    background-color: darkgreen;
}

/*imgs*/
img {
    width: 100px;
}

[data-grouped="thing"] {
    background-color: Gold;
    padding: 3px;
}


#scoreBoardContainer {
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: yellowgreen;
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}