*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: fantasy;
    font-size: 1.5em;
}

header {
    margin-top: 50px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 15%;
    gap: 10px;
}

/*PASS button*/
.pass-btn {
    position: absolute;
    right: 35%;
    border: 2px solid whitesmoke;
    padding: 5px;
    cursor: pointer;
}

.pass-btn:hover,
#suit-btn:hover,
#number-btn:hover {
    color: yellow;
}

/*SORTING options*/
.sorting-btns {
    display: flex;
    gap: 10px;
    position: relative;
    left: 10%;
    visibility: hidden;
}

#suit-btn,
#number-btn {
    border: 2px solid whitesmoke;
    padding: 5px;
    cursor: pointer;
}

#suit-btn.selected,
#number-btn.selected {
    color: goldenrod;
    background-color: darkgreen;
}

/*computers and users imgs/cards*/
img {
    width: 100px;
}
/*
.pluckPile {
    width: 47%;
}

#discardPile {
    width: 53%;
}

#discardPile:hover {
    background-color: yellow;
}

#discardPile .card,
#discardPile img {
    width: 100%;
}*/

.game-board-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-board {
    background-color: #91A637;
    flex-basis: 5px;
    width: 85%;
    margin: auto;
    border: 5px solid brown;
}

#discardPile {
    cursor: pointer;
}

#computers, #users {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

/*changes cursor of user cards - applied when it's the user's turn*/
.selectable {
    cursor: pointer;
}

/*
.users img.turn,
.main img.turn {
    cursor: pointer;
}
*/
[data-grouped="thing"] {
    background-color: Gold;
    padding: 3px;
}
  