*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: fantasy;
    font-size: 1.5em;
}

header {
    margin-top: 50px;
}

/*computers and users imgs/cards*/
img {
    width: 80%;
}

.main img {
    width: 8%;
}

.game-board-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-board {
    background-color: #91A637;
    flex-basis: 5px;
    width: 85%;
    margin: auto;
    text-align: center;
    border: 5px solid brown;
}

#computers, #users {
    display: flex;
    justify-content: center;
}

/*changes cursor of user cards - applied when it's the user's turn*/
.select {
    cursor: pointer;
}

/*
.users img.turn,
.main img.turn {
    cursor: pointer;
}
*/